html {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  max-width: 50em;
  display: flex;

}

.content h2 {
  font-size: 3rem;
  color: #000;
}

.content p {
  font-size: 1.5rem;
  max-height: 50%;
}

.banner {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.img-flex {
  width: 100%;
  display: block;
}

.btn {
  color: #fff;
  background-color: #333;
  padding: .4em .75em .3em;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}

.btn-big {
  font-size: 1.5rem;
  text-align: center;
}

.btn:hover {
  background-color: #000;
}
