html {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  max-width: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10em;
}

.content h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  margin: 0
}

.content p {
  font-size: 1.5rem;
  max-height: 50%;
  margin-top: 0;
}

.text {
  width: 60%;
  line-height: 1;
  margin-left: 2em;
}

.banner {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.img-flex {
  width: 100%;
  display: block;
}

.robot-img {
  width: 35%;
  display: flex;
}

.btn {
  color: #fff;
  background-color: #333;
  padding: .4em .75em .3em;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}

.btn-big {
  font-size: 1.5rem;
  text-align: center;
}

.btn:hover {
  background-color: #000;
}
